<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs Testing</title>
</head>
<body>

        
        <% for(var i=0; i<members.length; i++) {%>
            <tr>
              <td>
                <%= members[i].id%>
              </td>
              <td>
                <%= members[i].name%>
              </td>
              <td>
                <%= members[i].email%>
              </td>
            </tr>
            <br>
         <% } %>

</body>
</html>